<a href="https://colab.research.google.com/github/ChoSooBeen/Python_practice/blob/main/Python_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#2022 하계 부트캠프 [아이컨택] TA 활동
*2022.08.01 ~ 2022.08.19*

-----

##2022.08.03 WED

##**Python - 반복문 활용해보기**

점프 투 파이썬 https://wikidocs.net/book/1

####1-100 짝수의 합, 홀수의 합 구하기

In [5]:
sum = 0

for i in range(1, 100, 2): #range(시작값, 끝값+1, 스텝)
  sum += i

print(f"1부터 100까지 홀수의 합 : {sum}")

for i in range(0, 100, 2):
  sum += i

print(f"1부터 100까지 짝수의 합 : {sum}")

1부터 100까지 홀수의 합 : 2500
1부터 100까지 짝수의 합 : 4950

####3개의 정수를 입력받아 합계 구하기

In [3]:
sum = 0

for i in range(3):
  sum += int(input("정수를 입력하세요 : "))

print(f"입력받은 정수의 합은 {sum}입니다")

정수를 입력하세요 : 1
정수를 입력하세요 : 2
정수를 입력하세요 : 3
입력받은 정수의 합은 6입니다

####구구단 출력하기

In [8]:
num = int(input("몇 단을 입력할까요? "))

for i in range(1, 10):
  print(f"{num} x {i} = {num*i}")

몇 단을 입력할까요? 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

In [9]:
#중첩 반복묵 사용하기 - 1단부터 9단까지 출력하기
for i in range(1, 10):
  for j in range(1, 10):
    print(f"{i} x {j} = {i*j}")
  print("-"*10)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
----------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
----------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
----------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
----------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
----------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
----------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
----------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
----------