<a href="https://colab.research.google.com/github/ChoSooBeen/Python_practice/blob/main/Python_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#2022 하계 부트캠프 [아이컨택] TA 활동
*2022.08.01 ~ 2022.08.19*

-----

##2022.08.02 TUE

##**Python - List 활용해보기**

점프 투 파이썬 https://wikidocs.net/book/1

###List


*   Lists are used to store multiple items in a single variable.

*   중복된 값을 가질 수 있다.

In [14]:
nums = [1, 2, 3, 4, 5]

#slicing
print(nums[::2]) #홀수 출력
print(nums[1::2]) #짝수 출력

nums2 = [6, 7, 8, 9, 10]

#List 2개 합치기
sum = nums + nums2
print(sum)

#List 반복
print(nums * 3)

#요소 추가
sum.append(11)
print(sum)

#삽입
sum.insert(5, 0)
print(sum)

#삭제 -> remove 
#pop() = 맨 뒤의 값을 지우는 함수
sum.remove(0)
print(sum)
sum.pop()
print(sum)

[1, 3, 5]
[2, 4]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 2, 3, 4, 5, 0, 6, 7, 8, 9, 10, 11]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

###List 메소드 사용해보기


*   append
*   insert
*   remove
*   pop
*   extend : 리스트 확장 = 파라미터로 주어진 리스트를 원래 리스트에 더한다.
*   clear

In [15]:
rapper = ['김하온', '자이언티', '기리보이', '넉살', '팔로알토']

print(rapper)

#맨뒤에 박재범을 추가
rapper.append('박재범')
print(rapper)

#자이언티 뒤에 사이언도미닉 추가
rapper.insert(2, '사이먼도미닉')
print(rapper)

#비와이, 제시 2개를 한번에 추가 --> extend 확장
rapper.extend(['비와이', '제시'])
print(rapper)

#팔로알토 제거
rapper.remove('팔로알토')
print(rapper)

#리스트를 모두 제거
rapper.clear()
print(rapper)

['김하온', '자이언티', '기리보이', '넉살', '팔로알토']
['김하온', '자이언티', '기리보이', '넉살', '팔로알토', '박재범']
['김하온', '자이언티', '사이먼도미닉', '기리보이', '넉살', '팔로알토', '박재범']
['김하온', '자이언티', '사이먼도미닉', '기리보이', '넉살', '팔로알토', '박재범', '비와이', '제시']
['김하온', '자이언티', '사이먼도미닉', '기리보이', '넉살', '박재범', '비와이', '제시']
[]