<a href="https://colab.research.google.com/github/ChoSooBeen/Python_practice/blob/main/Python_if.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#2022 하계 부트캠프 [아이컨택] TA 활동
*2022.08.01 ~ 2022.08.19*

-----

##2022.08.04 THU

##**Python - 선택, 조건문**

점프 투 파이썬 https://wikidocs.net/book/1

####정수 구분해보기

In [ ]:
num = int(input("정수 입력 : "))
if num > 0:
  print("양수입니다.")
elif num < 0:
  print("음수입니다.")
else :
  print('0입니다.')

정수 입력 : 3
양수입니다.

####짝수 / 홀수

In [ ]:
num = int(input("정수 입력 : "))
if num % 2 == 0:
  print("짝수입니다.")
else :
  print('홀수입니다.')

정수 입력 : 40
짝수입니다.

#### 짝수의 합 구하기

In [ ]:
num = int(input('몇 개의 정수를 입력할까요? '))
sum = 0

for i in range(num):
  tmp = int(input('정수를 입력하세요 : '))
  if tmp % 2 == 0 :
    sum += tmp

print(f'입력받은 짝수의 합은 {sum}입니다.')

몇 개의 정수를 입력할까요? 6
정수를 입력하세요 : 5
정수를 입력하세요 : 7
정수를 입력하세요 : 9
정수를 입력하세요 : 6
정수를 입력하세요 : 10
정수를 입력하세요 : 5
입력받은 짝수의 합은 16입니다.

#### 3의 배수를 제외하고 합 구하기

In [ ]:
total = 0

for i in range(1, 101):
  if i % 3 == 0:
    continue
  total += i

print(f'합계 : {total}')

합계 : 3367

####2와 3의 배수를 만나면 출력하고 반복문 종료

In [ ]:
for i in range(20, 51):
  if (i % 2 == 0) and (i % 3 == 0):
    print(i)
    break

24

####로그인


*   설정 id = id
*   설정 pwd = pwd

In [ ]:
success_id = 'id'
success_pwd = 'pwd'

while True:
  id = input('id : ')
  pwd = input('pwd : ')

  if (id == success_id) and (pwd == success_pwd):
    print('login success!!')
    break

id : id
pwd : aa
id : aa
pwd : pwd
id : id
pwd : pwd
login success!!