<a href="https://colab.research.google.com/github/ChoSooBeen/Python_practice/blob/main/Python_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#2022 하계 부트캠프 [아이컨택] TA 활동
*2022.08.01 ~ 2022.08.19*

-----

##2022.08.09 TUE

##**Python - class**

점프 투 파이썬 https://wikidocs.net/book/1

####class와 객체


1.   class = 붕어빵 틀
2.   객체 = 붕어빵 --> 팥 붕어빵, 슈크림 붕어빵 등 만들 수 있다.
3.   self = 현재 자기 자신의 객체를 나타낸다.(항상 넣어준다) --> 현재 팥 붕어빵인지, 슈크림 붕어빵인지 구분해주는 것!




**1개의 클래스로 속성만 바꿔서 여러 개의 객체를 생성할 수 있다.**

In [50]:
class Car():

  #속성
  brand = ''
  model = ''
  color = ''

  #메소드
  def turn_on(self):
    print(self.brand, 'srart')

  def turn_off(self):
    print(self.brand, 'stop')

  def drive(self):
    print(self.brand, 'driving')

  def showinfo(self): #객체의 속성을 보여주는 메소드
    print(self.brand, self.model, self.color)

In [51]:
myCar = Car() #myCar 객체 생성!!

#현재 self가 나타내는 것 = myCar
myCar.brand = '기아자동차'
myCar.model = 'k7'
myCar.color = '흰색'
myCar.turn_on()
myCar.turn_off()
myCar.drive()
myCar.showinfo()

print('-'* 30)

#현재 self가 나타내는 것 = yourCar
yourCar = Car() #youtCar 객체 생성!!
yourCar.brand = '현대자동차'
yourCar.model = '소나타'
yourCar.color = '검정색'
yourCar.turn_on()
yourCar.turn_off()
yourCar.drive()
yourCar.showinfo()

기아자동차 srart
기아자동차 stop
기아자동차 driving
기아자동차 k7 흰색
------------------------------
현대자동차 srart
현대자동차 stop
현대자동차 driving
현대자동차 소나타 검정색

####객체 생성시 호출되는 함수

1.   __ init __ = 생성자
2.   객체를 생성하면 무조건 호출되는 메소드이다.

In [52]:
class Car2():

  #속성 --> 생성자를 통해 만든다!!
  def __init__(self, brand, model, color):
    self.brand = brand
    self.model = model
    self.color = color

  #메소드
  def turn_on(self):
    print(self.brand, 'srart')

  def turn_off(self):
    print(self.brand, 'stop')

  def drive(self):
    print(self.brand, 'driving')

  def showinfo(self): #객체의 속성을 보여주는 메소드
    print(self.brand, self.model, self.color)

In [53]:
myCar = Car2('기아자동차', 'k7', '흰색') #생성자를 가지고 myCar 객체 생성!!

#현재 self가 나타내는 것 = myCar
myCar.turn_on()
myCar.turn_off()
myCar.drive()
myCar.showinfo()

print('-'* 30)

#현재 self가 나타내는 것 = yourCar
yourCar = Car2('현대자동차', '소나타', '검정색') #생성자를 가지고 youtCar 객체 생성!!
yourCar.turn_on()
yourCar.turn_off()
yourCar.drive()
yourCar.showinfo()

기아자동차 srart
기아자동차 stop
기아자동차 driving
기아자동차 k7 흰색
------------------------------
현대자동차 srart
현대자동차 stop
현대자동차 driving
현대자동차 소나타 검정색

####몬스터 클래스 만들어보기

In [54]:
class Monster() :
  #속성 --> 생성자를 통해 만든다!!
  def __init__(self, name, HP, MP, ):
    self.name = name
    self.HP = HP
    self.MP = MP

  #메소드
  def fight(self):
    print(self.name, '싸운다.. 열심히...')

  def eat(self):
    print(self.name, '포션 먹었다.')

  def showinfo(self): #객체의 속성을 보여주는 메소드
    print(f'이름 : {self.name}\n HP : {self.HP}\n MP : {self.MP}')

In [55]:
oak = Monster('오크', 500, 100)
harpy = Monster('하피', 500, 100)

oak.showinfo()
harpy.showinfo()

print('-' * 30)

oak.fight()
harpy.eat()

이름 : 오크
 HP : 500
 MP : 100
이름 : 하피
 HP : 500
 MP : 100
------------------------------
오크 싸운다.. 열심히...
하피 포션 먹었다.

######Monster class 확인 = dir(클래스)

In [56]:
dir(Monster)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'eat',
 'fight',
 'showinfo']

######객체 설명 = help(객체)

In [57]:
help(oak)

Help on Monster in module __main__ object:

class Monster(builtins.object)
 |  Monster(name, HP, MP)
 |
 |  Methods defined here:
 |
 |  __init__(self, name, HP, MP)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  eat(self)
 |
 |  fight(self)
 |      #메소드
 |
 |  showinfo(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

####프라이빗 변수 = __변수

In [58]:
class Private:
  def __init__(self):
    self.a = 100
    self.__b = 200 #private 변수
  
  def get_b(self):
    return self.__b
  
  def set_b(self, b):
    self.__b = b

In [59]:
p = Private()

print(p.a)

#프라이빗 변수로 접근 불가능
#print(p.b)

100

In [60]:
print(p.get_b())

200

####계산기 만들어보기

In [61]:
class Calc:
  def __init__(self, a, b):
    self.a = a
    self.b = b
  
  def add(self):
    return self.a + self.b
  def sub(self):
    return self.a - self.b
  def mult(self):
    return self.a * self.b
  def div(self):
    return self.a / self.b

In [62]:
my = Calc(20, 5)

print("두 수를 더한 값 : ", my.add())
print("두 수를 뺀 값 : ", my.sub())
print("두 수를 곱한 값 : ", my.mult())
print("두 수를 나눈 값 : ", my.div())

두 수를 더한 값 :  25
두 수를 뺀 값 :  15
두 수를 곱한 값 :  100
두 수를 나눈 값 :  4.0

####리스트로 객체 생성하기

In [63]:
class Car3:
  def __init__(self, brand, model, color):
    self.brand=brand
    self.model=model
    self.color=color

  def turn_on(self):
    print(self.brand, '시동을 겁니다.')

  def drive(self):
    print(self.brand, '주행중입니다.')

  def turn_off(self):
    print(self.brand, '시동을 끕니다.') 

car1 = [Car3('현대자동차', '소나타', 'yellow'),
        Car3('기아자동차', '소렌토', 'gray'),
        Car3('삼성르노', 'SM5', 'red'),
        Car3('현대자동차', '그랜저', 'black'),
        Car3('기아자동차', '스팅어', 'darkblue'),
        Car3('현대자동차', '아반떼', 'white')]

for i in car1:
  i.turn_on()
  i.drive()
  i.turn_off()
  print('-'*30)

현대자동차 시동을 겁니다.
현대자동차 주행중입니다.
현대자동차 시동을 끕니다.
------------------------------
기아자동차 시동을 겁니다.
기아자동차 주행중입니다.
기아자동차 시동을 끕니다.
------------------------------
삼성르노 시동을 겁니다.
삼성르노 주행중입니다.
삼성르노 시동을 끕니다.
------------------------------
현대자동차 시동을 겁니다.
현대자동차 주행중입니다.
현대자동차 시동을 끕니다.
------------------------------
기아자동차 시동을 겁니다.
기아자동차 주행중입니다.
기아자동차 시동을 끕니다.
------------------------------
현대자동차 시동을 겁니다.
현대자동차 주행중입니다.
현대자동차 시동을 끕니다.
------------------------------

In [66]:
class Monster2() :
  #속성 --> 생성자를 통해 만든다!!
  def __init__(self, name, HP, MP, ):
    self.name = name
    self.HP = HP
    self.MP = MP

  #메소드
  def fight(self):
    print(self.name, '싸운다.. 열심히...')

  def eat(self):
    print(self.name, '포션 먹었다.')

  def showinfo(self): #객체의 속성을 보여주는 메소드
    print(f'이름 : {self.name}\n HP : {self.HP}\n MP : {self.MP}')


monster1 = [Monster2('오크', 500, 100),
            Monster2('하피', 500, 100),
            Monster2('오크2', 500, 100),
            Monster2('하피2', 500, 100)]

for j in monster1:
  j.fight()
  j.eat()
  j.showinfo()
  print('-'*30)

오크 싸운다.. 열심히...
오크 포션 먹었다.
이름 : 오크
 HP : 500
 MP : 100
------------------------------
하피 싸운다.. 열심히...
하피 포션 먹었다.
이름 : 하피
 HP : 500
 MP : 100
------------------------------
오크2 싸운다.. 열심히...
오크2 포션 먹었다.
이름 : 오크2
 HP : 500
 MP : 100
------------------------------
하피2 싸운다.. 열심히...
하피2 포션 먹었다.
이름 : 하피2
 HP : 500
 MP : 100
------------------------------

####리스트-딕셔너리로 학생 성적표 만들기


*   students = list
*   student = dictionary
*   딕셔너리로 이루어진 리스트!!

In [88]:
students = [{'name':'홍길동', 'korean':97, 'math': 98, 'english':87, 'science':95},
           {'name':'강길동', 'korean':80, 'math': 88, 'english':57, 'science':85},
           {'name':'윤길동', 'korean':67, 'math': 68, 'english':77, 'science':75},
           {'name':'최길동', 'korean':77, 'math': 78, 'english':87, 'science':65},
           {'name':'정길동', 'korean':87, 'math': 58, 'english':97, 'science':55}]

print('이름','총점','평균',sep='\t')

sum = 0

for student in students:
  sum = student['english'] + student['korean'] + student['math'] + student['science']
  avg = sum / 4
  print(student['name'],sum,avg,sep='\t') #seq='\t' --> 콤마 대신에 탭을 해라!

이름	총점	평균
홍길동	377	94.25
강길동	310	77.5
윤길동	287	71.75
최길동	307	76.75
정길동	297	74.25

####함수로 딕셔너리 만들기

위의 students와 s는 같다!

In [89]:
#함수로 딕셔너리 만들기
def create_dict(name, korean, math, english, science):
  return {
  'name':name,
  'korean':korean,
  'math':math,
  'english':english,
  'science':science
  }

def get_sum():
    return student['english'] + student['korean'] + student['math'] + student['science']

#딕셔너리로 리스트 만들기
s = [create_dict('홍길동', 97, 98, 87, 95),
    create_dict('강길동', 80, 88, 57, 85),
    create_dict('윤길동', 67, 68, 77, 75),
    create_dict('최길동', 77, 78, 87, 65),
    create_dict('정길동', 87, 58, 97, 55)]
  
print('이름','총점','평균',sep='\t')

for student in s:
  sum = get_sum() #파라미터로 딕셔너리를 넘겨주지 않아도 현재 딕셔너리로 읽어서 합을 구한다.
  avg = sum / 4
  print(student['name'],sum,avg,sep='\t')

이름	총점	평균
홍길동	377	94.25
강길동	310	77.5
윤길동	287	71.75
최길동	307	76.75
정길동	297	74.25

####클래스로 만들기

In [83]:
class Student:
  #속성 설정
  def __init__(self, name, korean, math, english, science):
    self.name = name
    self.korean = korean
    self.math = math
    self.english = english
    self.science = science

  def get_sum(self):
    return self.korean + self.math + self.english + self.science

  def get_avg(self):
    return (self.korean + self.math + self.english + self.science) / 4

  def to_string(self):
    return f'{self.name}\t {self.get_sum()}\t {self.get_avg()}'

In [90]:
#Students 클래스의 리스트!
s = [Student('홍길동', 97, 98, 87, 95),
    Student('강길동', 80, 88, 57, 85),
    Student('윤길동', 67, 68, 77, 75),
    Student('최길동', 77, 78, 87, 65),
    Student('정길동', 87, 58, 97, 55)
    ]

for st in s:
  print(st.to_string())

홍길동	 377	 94.25
강길동	 310	 77.5
윤길동	 287	 71.75
최길동	 307	 76.75
정길동	 297	 74.25