<a href="https://colab.research.google.com/github/ChoSooBeen/Python_practice/blob/main/Python_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#2022 하계 부트캠프 [아이컨택] TA 활동
*2022.08.01 ~ 2022.08.19*

-----

##2022.08.12 FRI

##**Python - 데이터분석**

점프 투 파이썬 https://wikidocs.net/book/1

In [1]:
pip list

Package                       Version
----------------------------- ----------------------------
absl-py                       1.2.0
aiohttp                       3.8.1
aiosignal                     1.2.0
alabaster                     0.7.12
albumentations                1.2.1
altair                        4.2.0
appdirs                       1.4.4
argon2-cffi                   21.3.0
argon2-cffi-bindings          21.2.0
arviz                         0.12.1
astor                         0.8.1
astropy                       4.3.1
astunparse                    1.6.3
async-timeout                 4.0.2
asynctest                     0.13.0
atari-py                      0.2.9
atomicwrites                  1.4.1
attrs                         22.1.0
audioread                     2.1.9
autograd                      1.4
Babel                         2.10.3
backcall                      0.2.0
beautifulsoup4                4.6.3
bleach                        5.0.1
blis                          0.7.8
bokeh                         2.3.3
branca                        0.5.0
bs4                           0.0.1
CacheControl                  0.12.11
cached-property               1.5.2
cachetools                    4.2.4
catalogue                     2.0.8
certifi                       2022.6.15
cffi                          1.15.1
cftime                        1.6.1
chardet                       3.0.4
charset-normalizer            2.1.0
click                         7.1.2
clikit                        0.6.2
cloudpickle                   1.3.0
cmake                         3.22.6
cmdstanpy                     1.0.4
colorcet                      3.0.0
colorlover                    0.3.0
community                     1.0.0b1
contextlib2                   0.5.5
convertdate                   2.4.0
crashtest                     0.3.1
crcmod                        1.7
cufflinks                     0.17.3
cvxopt                        1.3.0
cvxpy                         1.2.1
cycler                        0.11.0
cymem                         2.0.6
Cython                        0.29.32
daft                          0.0.4
dask                          2.12.0
datascience                   0.17.5
debugpy                       1.0.0
decorator                     4.4.2
defusedxml                    0.7.1
deprecat                      2.1.1
descartes                     1.1.0
dill                          0.3.5.1
distributed                   1.25.3
dlib                          19.24.0
dm-tree                       0.1.7
docutils                      0.17.1
dopamine-rl                   1.0.5
earthengine-api               0.1.317
easydict                      1.9
ecos                          2.0.10
editdistance                  0.5.3
en-core-web-sm                3.4.0
entrypoints                   0.4
ephem                         4.1.3
et-xmlfile                    1.1.0
etils                         0.6.0
fa2                           0.3.5
fastai                        2.7.7
fastcore                      1.5.13
fastdownload                  0.0.7
fastdtw                       0.3.4
fastjsonschema                2.16.1
fastprogress                  1.0.3
fastrlock                     0.8
feather-format                0.4.1
filelock                      3.7.1
firebase-admin                4.4.0
fix-yahoo-finance             0.0.22
Flask                         1.1.4
flatbuffers                   2.0
folium                        0.12.1.post1
frozenlist                    1.3.0
future                        0.16.0
gast                          0.5.3
GDAL                          2.2.2
gdown                         4.4.0
gensim                        3.6.0
geographiclib                 1.52
geopy                         1.17.0
gin-config                    0.5.0
glob2                         0.7
google                        2.0.3
google-api-core               1.31.6
google-api-python-client      1.12.11
google-auth                   1.35.0
google-auth-httplib2          0.0.4
google-auth-oauthlib          0.4.6
google-cloud-bigquery         1.21.0
google-cloud-bigquery-storage 1.1.2
google-cloud-core             1.0.3
google-cloud-datastore        1.8.0
google-cloud-firestore        1.7.0
google-cloud-language         1.2.0
google-cloud-storage          1.18.1
google-cloud-translate        1.5.0
google-colab                  1.0.0
google-pasta                  0.2.0
google-resumable-media        0.4.1
googleapis-common-protos      1.56.4
googledrivedownloader         0.4
graphviz                      0.10.1
greenlet                      1.1.2
grpcio                        1.47.0
gspread                       3.4.2
gspread-dataframe             3.0.8
gym                           0.17.3
h5py                          3.1.0
HeapDict                      1.0.1
hijri-converter               2.2.4
holidays                      0.14.2
holoviews                     1.14.9
html5lib                      1.0.1
httpimport                    0.5.18
httplib2                      0.17.4
httplib2shim                  0.0.3
httpstan                      4.6.1
humanize                      0.5.1
hyperopt                      0.1.2
idna                          2.10
imageio                       2.9.0
imagesize                     1.4.1
imbalanced-learn              0.8.1
imblearn                      0.0
imgaug                        0.4.0
importlib-metadata            4.12.0
importlib-resources           5.9.0
imutils                       0.5.4
inflect                       2.1.0
intel-openmp                  2022.1.0
intervaltree                  2.1.0
ipykernel                     4.10.1
ipython                       5.5.0
ipython-genutils              0.2.0
ipython-sql                   0.3.9
ipywidgets                    7.7.1
itsdangerous                  1.1.0
jax                           0.3.14
jaxlib                        0.3.14+cuda11.cudnn805
jedi                          0.18.1
jieba                         0.42.1
Jinja2                        2.11.3
joblib                        1.1.0
jpeg4py                       0.1.4
jsonschema                    4.3.3
jupyter                       1.0.0
jupyter-client                5.3.5
jupyter-console               5.2.0
jupyter-core                  4.11.1
jupyterlab-pygments           0.2.2
jupyterlab-widgets            1.1.1
kaggle                        1.5.12
kapre                         0.3.7
keras                         2.8.0
Keras-Preprocessing           1.1.2
keras-vis                     0.4.1
kiwisolver                    1.4.4
korean-lunar-calendar         0.2.1
langcodes                     3.3.0
libclang                      14.0.6
librosa                       0.8.1
lightgbm                      2.2.3
llvmlite                      0.39.0
lmdb                          0.99
LunarCalendar                 0.0.9
lxml                          4.9.1
Markdown                      3.4.1
MarkupSafe                    2.0.1
marshmallow                   3.17.0
matplotlib                    3.2.2
matplotlib-inline             0.1.3
matplotlib-venn               0.11.7
missingno                     0.5.1
mistune                       0.8.4
mizani                        0.6.0
mkl                           2019.0
mlxtend                       0.14.0
more-itertools                8.13.0
moviepy                       0.2.3.5
mpmath                        1.2.1
msgpack                       1.0.4
multidict                     6.0.2
multitasking                  0.0.11
murmurhash                    1.0.7
music21                       5.5.0
natsort                       5.5.0
nbclient                      0.6.6
nbconvert                     5.6.1
nbformat                      5.4.0
nest-asyncio                  1.5.5
netCDF4                       1.6.0
networkx                      2.6.3
nibabel                       3.0.2
nltk                          3.7
notebook                      5.3.1
numba                         0.56.0
numexpr                       2.8.3
numpy                         1.21.6
oauth2client                  4.1.3
oauthlib                      3.2.0
okgrade                       0.4.3
opencv-contrib-python         4.6.0.66
opencv-python                 4.6.0.66
opencv-python-headless        4.6.0.66
openpyxl                      3.0.10
opt-einsum                    3.3.0
osqp                          0.6.2.post0
packaging                     21.3
palettable                    3.3.0
pandas                        1.3.5
pandas-datareader             0.9.0
pandas-gbq                    0.13.3
pandas-profiling              1.4.1
pandocfilters                 1.5.0
panel                         0.12.1
param                         1.12.2
parso                         0.8.3
pastel                        0.2.1
pathlib                       1.0.1
pathy                         0.6.2
patsy                         0.5.2
pep517                        0.13.0
pexpect                       4.8.0
pickleshare                   0.7.5
Pillow                        7.1.2
pip                           21.1.3
pip-tools                     6.2.0
pkgutil-resolve-name          1.3.10
plotly                        5.5.0
plotnine                      0.6.0
pluggy                        0.7.1
pooch                         1.6.0
portpicker                    1.3.9
prefetch-generator            1.0.1
preshed                       3.0.6
prettytable                   3.3.0
progressbar2                  3.38.0
prometheus-client             0.14.1
promise                       2.3
prompt-toolkit                1.0.18
prophet                       1.1
protobuf                      3.17.3
psutil                        5.4.8
psycopg2                      2.9.3
ptyprocess                    0.7.0
py                            1.11.0
pyarrow                       6.0.1
pyasn1                        0.4.8
pyasn1-modules                0.2.8
pycocotools                   2.0.4
pycparser                     2.21
pyct                          0.4.8
pydantic                      1.9.1
pydata-google-auth            1.4.0
pydot                         1.3.0
pydot-ng                      2.0.0
pydotplus                     2.0.2
PyDrive                       1.3.1
pyemd                         0.5.1
pyerfa                        2.0.0.1
pyglet                        1.5.0
Pygments                      2.6.1
pygobject                     3.26.1
pylev                         1.4.0
pymc3                         3.11.5
PyMeeus                       0.5.11
pymongo                       4.2.0
pymystem3                     0.2.0
PyOpenGL                      3.1.6
pyparsing                     3.0.9
pyrsistent                    0.18.1
pysimdjson                    3.2.0
pysndfile                     1.3.8
PySocks                       1.7.1
pystan                        3.3.0
pytest                        3.6.4
python-apt                    0.0.0
python-chess                  0.23.11
python-dateutil               2.8.2
python-louvain                0.16
python-slugify                6.1.2
python-utils                  3.3.3
pytz                          2022.1
pyviz-comms                   2.2.0
PyWavelets                    1.3.0
PyYAML                        3.13
pyzmq                         23.2.0
qdldl                         0.1.5.post2
qtconsole                     5.3.1
QtPy                          2.1.0
qudida                        0.0.4
regex                         2022.6.2
requests                      2.23.0
requests-oauthlib             1.3.1
resampy                       0.3.1
rpy2                          3.4.5
rsa                           4.9
scikit-image                  0.18.3
scikit-learn                  1.0.2
scipy                         1.7.3
screen-resolution-extra       0.0.0
scs                           3.2.0
seaborn                       0.11.2
semver                        2.13.0
Send2Trash                    1.8.0
setuptools                    57.4.0
setuptools-git                1.2
Shapely                       1.8.2
simplegeneric                 0.8.1
six                           1.15.0
sklearn                       0.0
sklearn-pandas                1.8.0
smart-open                    5.2.1
snowballstemmer               2.2.0
sortedcontainers              2.4.0
SoundFile                     0.10.3.post1
soupsieve                     2.3.2.post1
spacy                         3.4.1
spacy-legacy                  3.0.9
spacy-loggers                 1.0.3
Sphinx                        1.8.6
sphinxcontrib-serializinghtml 1.1.5
sphinxcontrib-websupport      1.2.4
SQLAlchemy                    1.4.39
sqlparse                      0.4.2
srsly                         2.4.4
statsmodels                   0.10.2
sympy                         1.7.1
tables                        3.7.0
tabulate                      0.8.10
tblib                         1.7.0
tenacity                      8.0.1
tensorboard                   2.8.0
tensorboard-data-server       0.6.1
tensorboard-plugin-wit        1.8.1
tensorflow                    2.8.2+zzzcolab20220719082949
tensorflow-datasets           4.6.0
tensorflow-estimator          2.8.0
tensorflow-gcs-config         2.8.0
tensorflow-hub                0.12.0
tensorflow-io-gcs-filesystem  0.26.0
tensorflow-metadata           1.9.0
tensorflow-probability        0.16.0
termcolor                     1.1.0
terminado                     0.13.3
testpath                      0.6.0
text-unidecode                1.3
textblob                      0.15.3
Theano-PyMC                   1.1.2
thinc                         8.1.0
threadpoolctl                 3.1.0
tifffile                      2021.11.2
tinycss2                      1.1.1
toml                          0.10.2
tomli                         2.0.1
toolz                         0.12.0
torch                         1.12.0+cu113
torchaudio                    0.12.0+cu113
torchsummary                  1.5.1
torchtext                     0.13.0
torchvision                   0.13.0+cu113
tornado                       5.1.1
tqdm                          4.64.0
traitlets                     5.1.1
tweepy                        3.10.0
typeguard                     2.7.1
typer                         0.4.2
typing-extensions             4.1.1
tzlocal                       1.5.1
ujson                         5.4.0
uritemplate                   3.0.1
urllib3                       1.24.3
vega-datasets                 0.9.0
wasabi                        0.10.1
wcwidth                       0.2.5
webargs                       8.2.0
webencodings                  0.5.1
Werkzeug                      1.0.1
wheel                         0.37.1
widgetsnbextension            3.6.1
wordcloud                     1.8.2.2
wrapt                         1.14.1
xarray                        0.20.2
xarray-einstats               0.2.2
xgboost                       0.90
xkit                          0.0.0
xlrd                          1.1.0
xlwt                          1.3.0
yarl                          1.8.1
yellowbrick                   1.4
zict                          2.2.0
zipp                          3.8.1

In [ ]:
pip install pillow

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pillow in /usr/local/lib/python3.7/dist-packages (7.1.2)

In [2]:
from wordcloud import WordCloud
import csv
import numpy as np
import PIL 
from collections import Counter

fp = open('/apps.csv', 'r') #The Android App Market on Google Play

fr = csv.reader(fp)

lines = []

for line in fr:
  if len(line) > 0 :
    lines.append(line[1]) #카테고리열만 저장

dict_data = Counter(lines) #카테고리가 몇번씩 나오는지 딕셔너리에 저장
print(dict_data)

img = PIL.Image.open('/abc.png')
img_array = np.array(img)

wc = WordCloud(background_color='white', mask= img_array)
wc = wc.generate_from_frequencies(dict_data)
wc.to_file('/imgWrite.png')  # 워드클라우드가 저장될 파일이름(png)을 넣어주세요

Counter({'FAMILY': 1832, 'GAME': 959, 'TOOLS': 827, 'BUSINESS': 420, 'MEDICAL': 395, 'PERSONALIZATION': 376, 'PRODUCTIVITY': 374, 'LIFESTYLE': 369, 'FINANCE': 345, 'SPORTS': 325, 'COMMUNICATION': 315, 'HEALTH_AND_FITNESS': 288, 'PHOTOGRAPHY': 281, 'NEWS_AND_MAGAZINES': 254, 'SOCIAL': 239, 'BOOKS_AND_REFERENCE': 222, 'TRAVEL_AND_LOCAL': 219, 'SHOPPING': 202, 'DATING': 171, 'VIDEO_PLAYERS': 163, 'MAPS_AND_NAVIGATION': 131, 'EDUCATION': 119, 'FOOD_AND_DRINK': 112, 'ENTERTAINMENT': 102, 'AUTO_AND_VEHICLES': 85, 'LIBRARIES_AND_DEMO': 84, 'WEATHER': 79, 'HOUSE_AND_HOME': 74, 'ART_AND_DESIGN': 64, 'EVENTS': 64, 'PARENTING': 60, 'COMICS': 56, 'BEAUTY': 53, 'Category': 1})

In [3]:
#한글 폰트
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'sudo apt autoremove' to remove it.
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 19 not upgraded.
Need to get 9,604 kB of archives.
After this operation, 29.5 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 fonts-nanum all 20170925-1 [9,604 kB]
Fetched 9,604 kB in 2s (5,419 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package fonts-nanum.
(Reading database ... 155680 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20170925-1_all.deb ...
Unpacking fonts-nanum (20170925-1) ...
Setting up fonts-nanum (20170925-1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [1]:
from matplotlib import font_manager

for i in font_manager.fontManager.ttflist:
  if 'Nanum' in i.name:
    print(i.name, i.fname)

NanumBarunGothic /usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf
NanumSquare /usr/share/fonts/truetype/nanum/NanumSquareB.ttf
NanumSquareRound /usr/share/fonts/truetype/nanum/NanumSquareRoundB.ttf
NanumSquare /usr/share/fonts/truetype/nanum/NanumSquareR.ttf
NanumBarunGothic /usr/share/fonts/truetype/nanum/NanumBarunGothicBold.ttf
NanumSquareRound /usr/share/fonts/truetype/nanum/NanumSquareRoundR.ttf
NanumMyeongjo /usr/share/fonts/truetype/nanum/NanumMyeongjo.ttf
NanumGothic /usr/share/fonts/truetype/nanum/NanumGothic.ttf
NanumGothic /usr/share/fonts/truetype/nanum/NanumGothicBold.ttf
NanumMyeongjo /usr/share/fonts/truetype/nanum/NanumMyeongjoBold.ttf

####한글파일로 만들어보기

In [11]:
#한글파일로 만들어보기 txt --> 현재 첫번째 줄만 인식함 why??????????

from wordcloud import WordCloud
import numpy as np
import PIL 
from collections import Counter

fp = open('/babyshark.txt', 'r', encoding='utf-8') #아기상어 가사 텍스트 파일

lines = []

for line in fp.readline():
  if len(line) > 0 :
    lines.append(line.replace('\n', '')) #가사 속 \n 제거

dict_data = Counter(lines)
print(dict_data)

img = PIL.Image.open('/abc.png') #참고할 이미지
img_array = np.array(img)

wc = WordCloud(font_path = 'NanumGothic.ttf', background_color='white', mask= img_array)
wc = wc.generate_from_frequencies(dict_data)
wc.to_file('/imgBabyShark.png') # 워드클라우드가 저장될 파일이름(png) 넣어주세요

Counter({'아': 1, '기': 1, ' ': 1, '상': 1, '어': 1, '': 1})

####Pandas

In [10]:
import pandas as pd

df = pd.read_csv('/scores.csv')
df

        이름     국어   영어     수학
0     kate  100.0   90   95.0
1   olivia   90.0   80   75.0
2     emma   95.0  100  100.0
3   sophia  100.0  100  100.0
4      amy    NaN   35   60.0
5    james   70.0   75   65.0
6   daniel   80.0   90   55.0
7    peter   50.0   60    NaN
8    kevin  100.0  100   90.0
9     jack   90.0   95   70.0
10   james   70.0   75   65.0

In [ ]:
help(pd.Series)

In [ ]:
help(pd.DataFrame)

####DataFrame에서 상위 n개의 데이터만 가져오기

In [12]:
#상위 3개의 데이터만 가져오기

df.head(3)

       이름     국어   영어     수학
0    kate  100.0   90   95.0
1  olivia   90.0   80   75.0
2    emma   95.0  100  100.0

####DataFrame에서 하위 n개의 데이터만 가져오기

In [14]:
#하위 5개의 데이터만 가져오기

df.tail(5)

        이름     국어   영어    수학
6   daniel   80.0   90  55.0
7    peter   50.0   60   NaN
8    kevin  100.0  100  90.0
9     jack   90.0   95  70.0
10   james   70.0   75  65.0

####DataFrame에서 아무거나 n개의 데이터만 가져오기

In [16]:
#아무거나 가져오기

df.sample()

    이름  국어  영어    수학
4  amy NaN  35  60.0

####데이터 개수 알기


*   튜플 형태로 알려줌
*   (행, 열)

In [17]:
df.shape

(11, 4)

In [20]:
#행의 개수
len(df)

11

In [21]:
#열의 개수
df.columns

Index(['이름', '국어', '영어', '수학'], dtype='object')

####특정 컬럼 알아보기

In [22]:
df.nlargest(3, '국어') #국어 점수가 가장 높은 3명

       이름     국어   영어     수학
0    kate  100.0   90   95.0
3  sophia  100.0  100  100.0
8   kevin  100.0  100   90.0

In [23]:
df.nsmallest(3, '영어') #영어 점수가 낮은 3명

      이름    국어  영어    수학
4    amy   NaN  35  60.0
7  peter  50.0  60   NaN
5  james  70.0  75  65.0

####열 단위로 추출

####여러개의 Series가 모여 DataFrame을 만든다!


*   1차원 [열]
*   2차원 [[열,열]]

In [27]:
df['국어'] #1차원

0     100.0
1      90.0
2      95.0
3     100.0
4       NaN
5      70.0
6      80.0
7      50.0
8     100.0
9      90.0
10     70.0
Name: 국어, dtype: float64

In [29]:
type(df['국어']) #Series

pandas.core.series.Series

In [28]:
df[['이름', '국어']] #2차원, 2개의 컬럼 이상을 볼 때 사용

        이름     국어
0     kate  100.0
1   olivia   90.0
2     emma   95.0
3   sophia  100.0
4      amy    NaN
5    james   70.0
6   daniel   80.0
7    peter   50.0
8    kevin  100.0
9     jack   90.0
10   james   70.0

In [32]:
type(df[['이름', '국어']]) #DataFrame

pandas.core.frame.DataFrame

####데이터 추출 방법
1. 행번호(iloc)로 추출 - iloc[n]
2. 슬라이싱으로 여러행 추출 - iloc[n:n]
3. 행번호로 여러행 추출 - iloc[[n,n1,n2]]  
4. 특정행, 특정열 - iloc[n][n]  
5. 슬라이싱으로 여러행, 여러열추출 iloc[n:n, n:n]  
6. 슬라이싱 전체 행의 특정 열 iloc[:,n]  
7. 슬라이싱 전체 행의 여러 열 iloc[:,[n, n1, n2]]

In [33]:
#행번호(iloc)로 추출 - iloc[n]

df.iloc[0]

이름     kate
국어    100.0
영어       90
수학     95.0
Name: 0, dtype: object

In [34]:
#슬라이싱으로 여러행 추출 - iloc[n:n]

df.iloc[1:3]

       이름    국어   영어     수학
1  olivia  90.0   80   75.0
2    emma  95.0  100  100.0

In [35]:
#행번호로 여러행 추출 - iloc[[n,n1,n2]] 

df.iloc[[1,3,5]]

       이름     국어   영어     수학
1  olivia   90.0   80   75.0
3  sophia  100.0  100  100.0
5   james   70.0   75   65.0

In [37]:
#특정행의 특정열 - iloc[n][n]  

df.iloc[2][1] #emma의 국어 점수

95.0

In [40]:
#슬라이싱으로 여러행, 여러열추출 iloc[n:n, n:n]

df.iloc[1:4, 0:2] #1~3 행, 0~1 열을 가져온다

       이름     국어
1  olivia   90.0
2    emma   95.0
3  sophia  100.0

In [42]:
#슬라이싱 전체 행의 특정 열 iloc[:,n]

df.iloc[:, 0] #0번째 열의 전체 행을 가져온다

0       kate
1     olivia
2       emma
3     sophia
4        amy
5      james
6     daniel
7      peter
8      kevin
9       jack
10     james
Name: 이름, dtype: object

In [43]:
#슬라이싱 전체 행의 여러 열 iloc[:,[n, n1, n2]]

df.iloc[:, [0, 2, 3]]

        이름   영어     수학
0     kate   90   95.0
1   olivia   80   75.0
2     emma  100  100.0
3   sophia  100  100.0
4      amy   35   60.0
5    james   75   65.0
6   daniel   90   55.0
7    peter   60    NaN
8    kevin  100   90.0
9     jack   95   70.0
10   james   75   65.0